body {
  font-family: "Righteous", sans-serif;
  font-size: 15px;
  color: white;
  margin: 0;
  padding: 0;
  /*background: url("https://upload.wikimedia.org/wikipedia/commons/c/c0/4-leaf_clover.JPG") no-repeat top center;*/
  /*background-size: 100%;*/
  /*background-color: rgb(45, 239, 90);*/
  text-decoration: none;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

.container {
  background: url("https://images.pexels.com/photos/352096/pexels-photo-352096.jpeg") no-repeat bottom right;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(45, 239, 90);
  z-index: 0;
  overflow: hidden;
  /*border-bottom: 40px solid rgba(15, 162, 0, 1);*/
}

.sub-container {
  width: 20%;
  height: 640px;
  margin-right: 0;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(4, 41, 0, 0.9), rgba(33, 96, 0, 0.05));
  float: right;
}

.main-container {
  width: 80%;
  height: 610px;
  margin-left: 0;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(33, 96, 0, 0.4), rgba(4, 41, 0, 0.9));
  /*background: rgba(4, 41, 0, 0.8);*/
  /*padding-top: 38.4px;*/
  /*padding-bottom: 121.34px;*/
  /*border-right: 12px solid rgba(15, 162, 0, 1);*/
}

.head-title {
  color: rgb(19, 201, 0);
  float: left;
  /*width: 10%;*/
  /*background-color: white;*/
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 45px;
  margin-left: 20%;
  /*margin-top: 100px;*/
  writing-mode: vertical-lr;
  text-orientation: upright;
  /*text-align: center;*/
  /*padding-left: auto;*/
  /*padding-right: auto;*/
  /*text-shadow: rgba(64, 64, 64, 0.5) 3px 5px 4px;*/
  /*background-color: rgba(30, 68, 19, 1);*/
  background-image: linear-gradient(#0fa200, #042900);
  height: 445px;
  /*position: relative;*/
}

.head-title h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-shadow: rgb(4, 41, 0, 1) 0 0 6px;
}

#head-title-overlay {
  display: block;
  position: absolute;
  left: 23%;
  top: 245px;
  text-shadow: rgb(4, 41, 0, 1) 0 0 6px;
  z-index: 5;
}

#main-img {
  height: 919px;
  display: block;
  position: absolute;
  top: 50px;
  left: 7%;
  overflow: hidden;
  /*transition: transform .2s;*/
}

/*#main-img:hover{
    transform: scale(1.1);
}*/

.inner-content-link-container {
  position: absolute;
  top: 488px;
  /*justify-content: space-around;*/
  width: 80%;
}

.inner-content-link {
  float: left;
  height: 150px;
  width: 25%;
  text-align: center;
  /*line-height: 190px;*/
  /*margin-top: 98px;*/
  overflow: hidden;
  border-top: 2px solid rgba(15, 162, 0, 1);
}

#inner-content-link-1 {
  background: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/Choeradodis_stalii_MHNT_dos.jpg") no-repeat bottom center;
}

#inner-content-link-2 {
  background: url("https://upload.wikimedia.org/wikipedia/commons/5/5b/Raptrix_perspicua_MHNT_male.jpg") no-repeat center;
}

#inner-content-link-3 {
  background: url("https://upload.wikimedia.org/wikipedia/commons/0/04/Large_brown_mantid_close_up_nohair.jpg") no-repeat bottom center;
}

#inner-content-link-4 {
  background: url("https://upload.wikimedia.org/wikipedia/commons/8/86/Tenodera_sinensis_2_Luc_Viatour.jpg") no-repeat bottom center;
  /*border-bottom-right-radius: 30%;*/
  border-top-right-radius: 50%;
}

#inner-content-link-4, #inner-content-link-3, #inner-content-link-2, #inner-content-link-1 {
  background-size: cover;
  background-color: rgba(176, 252, 177, 1);
  opacity: 0.85;
  color: rgba(4, 41, 0, 1);
}

#inner-content-link-1:hover, #inner-content-link-2:hover, #inner-content-link-3:hover, #inner-content-link-4:hover {
  opacity: 1;
  border-bottom: 6px solid rgba(176, 252, 177, 1);
  color: rgba(4, 41, 0, 1);
}

#inner-content-link-1:active, #inner-content-link-2:active, #inner-content-link-3:active, #inner-content-link-4:active {
  color: rgb(19, 201, 0);
}

.inner-content-link h3 {
  display: block;
  margin-top: 120px;
  background-color: rgba(176, 252, 177, 1);
  /*writing-mode: vertical-rl;
  text-orientation: upright;*/
  margin-left: 0;
}

.transition {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 610px;
  background-image: linear-gradient( to bottom, rgba(33, 96, 0, 0.05) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 65, 40, 0.05));
  margin-right: 0;
}

.info-container {
  padding-top: 160px;
  background: url("https://images.pexels.com/photos/1090977/pexels-photo-1090977.jpeg") no-repeat top right;
  background-size: cover;
  background-attachment: fixed;
  background-color: #007649;
  padding-bottom: 70px;
  margin-bottom: 0;
}

.info-sub-container {
  width: 80%;
  margin-left: 0;
  margin-right: auto;
  background: rgba(0, 65, 40, 0.8);
  padding-top: 20px;
  border-right: 12px solid rgba(0, 187, 116, 1);
  padding-bottom: 30px;
  /*border-bottom: 12px transparent;*/
}

h2.info-title {
  /*display: block;*/
  width: 100%;
  background-image: linear-gradient(to right, #007649, #005535);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(0, 251, 156, 1);
  margin-bottom: 50px;
  text-shadow: #00291d 0 0 6px;
}

#mantis-info-title, #vision-info-title, #anatomy-info-title, #diet-info-title {
  margin-left: auto;
  margin-right: auto;
}

.info-paragraph-text {
  line-height: 2em;
  text-align: right;
  color: rgba(155, 254, 217, 1);
}

.info-paragraph {
  font-size: 17px;
  border-left: 6px solid #007649;
  margin-left: 3%;
  padding-left: 20px;
  column-count: 2;
  column-gap: 20px;
  column-rule: 2px solid #007649;
  width: 66%;
  margin-bottom: 50px;
}

.info-image {
  width: 30%;
  float: right;
  margin-right: -150px;
  margin-top: 3%;
  border: 15px solid rgba(0, 187, 116, 1);
  transition: transform 0.2s;
}

.info-image:hover {
  transform: scale(1.1);
}

.info-paragraph a {
  text-decoration: underline;
  color: rgb(0, 160, 100);
}

.info-paragraph a:link {
  text-decoration: underline;
  color: rgb(0, 160, 100);
}

.info-paragraph a:visited {
  color: rgb(0, 100, 62);
}

.info-paragraph a:hover {
  background-color: rgb(0, 65, 40);
}

.info-paragraph a:active {
  color: rgb(0, 211, 131);
}

/*#info-image-1{
  border-top-left-radius: 70%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: ;
  border-bottom-right-radius: 20%;
}
    
#info-image-2{
  border-top-left-radius: ;
  border-top-right-radius: ;
  border-bottom-left-radius: ;
  border-bottom-right-radius: ;
}
    
#info-image-3{
  border-top-left-radius: ;
  border-top-right-radius: ;
  border-bottom-left-radius: ;
  border-bottom-right-radius: ;
}
    
#info-image-4{
  border-top-left-radius: ;
  border-top-right-radius: ;
  border-bottom-left-radius: ;
  border-bottom-right-radius: ;
}*/

/*#inner-top-link {
  width: 70px;
  height: 70px;
  background: radial-gradient(red, orange);
  border: 2px solid white;
  border-radius: 50%;
  padding: auto;
  display: sticky;
  bottom: 1rem;
}*/

.footer{
  border: 1px solid transparent;
  padding: 50px;
  background-image: linear-gradient(to bottom, rgba(45, 51, 61, 1), rgba(0, 0, 0, 1));
  margin: 0;
  height: 350px;
  color: rgb(165, 165, 165);
}

.footer p{
  font-size: 18px;
  text-decoration: underline;
}

.footer a{
  text-decoration: underline;
  color: rgb(165, 165, 165);
}

.footer a:link{
  color: rgb(165, 165, 165);
}

.footer a:visited{
  color: rgb(100, 100, 100);
}

.footer a:hover{
  background-color: rgb(180, 180, 180);
}

.footer a:active{
  color: rgb(220, 220, 220);
}

.bibliography{
  float: left;
  width: 50%;
}

.acknowledgement{
  width: 40%;
  float: right;
  padding-top: 50px;
}

.footer-ack-image{
  width: 45%;
  padding: 10px;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, red, orange) 1 round;
}








/* These are the codes of my older designs and opinions. Please ignore. For later use maybe.



body{
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  margin: 0;
  padding: 0;
  /*background: url("https://upload.wikimedia.org/wikipedia/commons/c/c0/4-leaf_clover.JPG") no-repeat top center;
  background-size: 100%;
  background-color: rgb(45, 239, 90);*/
/* }

h1{
  font-size: 3.5em;
}

h3{
  font-size: 1.8em;
}

.container{
  background: url("https://upload.wikimedia.org/wikipedia/commons/c/c0/4-leaf_clover.JPG") no-repeat top center;
  background-size: 100%;
  background-color: rgb(45, 239, 90);
  border-bottom: 20px solid;
}

.main-container{
  width: 80%;
  margin-left: auto;
  margin-right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 50px;
  padding-bottom: 180px;
  border-left: 12px solid /*rgba(58, 130, 36, 1)*/
/*}

.head-title{
  color: ;
  float: left;
  width: 10%;
  /*background-color: white;*/
/* margin-left: 10%;
  margin-top: 100px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#main-img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.inner-content-link{
  float: left;
  height: 150px;
  width: 25%;
  text-align: center;
  /*line-height: 190px;*/
/*margin-top: 30px;
  overflow: hidden;
}

#inner-content-link-1{
  background: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/Choeradodis_stalii_MHNT_dos.jpg") no-repeat bottom center;
}

#inner-content-link-2{
  background: url("https://upload.wikimedia.org/wikipedia/commons/5/5b/Raptrix_perspicua_MHNT_male.jpg") no-repeat center;
}

#inner-content-link-3{
  background: url("https://upload.wikimedia.org/wikipedia/commons/0/04/Large_brown_mantid_close_up_nohair.jpg") no-repeat bottom center;
}

#inner-content-link-4{
  background: url("https://upload.wikimedia.org/wikipedia/commons/8/86/Tenodera_sinensis_2_Luc_Viatour.jpg") no-repeat bottom center;
}

#inner-content-link-4, #inner-content-link-3, #inner-content-link-2, #inner-content-link-1{
  background-size: 100%;
  opacity: 0.7;
}

#inner-content-link-1:hover, #inner-content-link-2:hover, #inner-content-link-3:hover, #inner-content-link-4:hover{
  opacity: 1;
  border-bottom: 6px solid blue;
}

.inner-content-link h3{
  display: block;
  margin-top: 120px;
  background-color: white;
  /*writing-mode: vertical-rl;
  text-orientation: upright;*/
/* margin-left: 0;
}

.info-container{
  padding-top: 160px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/a/ac/Momiji_%E7%B4%85%E8%91%89%E3%81%99%E3%82%8B%E3%83%A4%E3%83%9E%E3%83%A2%E3%83%9F%E3%82%B8_B221212.JPG") no-repeat top right;
  background-attachment: fixed;
}

.info-sub-container{
  width: 80%;
  margin-left: 0;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 20px;
  border-right: 12px solid /*rgba(58, 130, 36, 1)*/
/*border-bottom: 12px solid;
}

h3.info-title{
  /*display: block;*/
/*  width: 80%;
  border: 0px solid;
  background: url("https://upload.wikimedia.org/wikipedia/commons/c/c3/60s_wallpaper.jpg") no-repeat center right;
  text-align: center;
}

#mantis-info-title, #vision-info-title{
  margin-left: auto;
  margin-right: auto;
}

#anatomy-info-title, #diet-info-title{
  margin-left: auto;
  margin-right: auto;
}

.info-paragraph-text{
  line-height: 1.75em;
  text-align: right;
}

.info-paragraph{
  border-left: 6px solid;
  margin-left: 3%;
  padding-left: 20px;
  column-count: 2;
  column-gap: 20px;
  column-rule: 2px solid;
  width: 66%
}

.info-image{
  width: 30%;
  float: right;
  margin-right: -150px;
  margin-top: 3%;
}

#inner-top-link{
  width: 50px;
  background: white;
  border: 2px solid;
  float: right;
  margin-top: auto;
  margin-bottom: 6px;
  position: sticky;
  bottom: 6px;
}

*/
