body {
    background-color: #BDAEC6;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.grid-item {
    box-sizing: border-box;
    background-color: white;
    color: #732C7B;
    list-style-type: none;
    text-align: center;
    padding: 10px 20px;
    height: 550px;
    margin: 20px;
    box-shadow: 0px 5px 10px #000;
}

.grid-item p {
    color: #421C52;
}

.grid-item:hover {
    box-shadow: 0px 10px 30px #000;
    transition: all 0.3s;
}

h1, h2 {
    color: #732C7B;
    /*text-shadow: 0px 0px 2px #000;*/
}

h2 {
    clear: both;
}

img {
    max-width: 100%;
    max-height: 70%;
}

#grid-floats .grid-item {
    float: left;
}

#grid-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media all and (max-width: 500px) {
    body{font-size: 3vw;}
    /* to prevent text overflow when the
    screensize is very small. */
}

@media all and (max-width: 699px) {
    .grid-item:first-child {
        width: calc(100% - 40px);
        border: 5px solid transparent;
        border-image: linear-gradient(#732C7B, #421C52) 30;
    }
    .grid-item {width: calc(50% - 40px);}
}

@media all and (max-width: 1000px) and (min-width: 700px) {
    .grid-item:nth-child(-n+2) {
        width: calc(50% - 40px);
        border: 7px solid transparent;
        border-image: linear-gradient(#732C7B, #421C52) 30;
    }
    .grid-item {width: calc(33.33333% - 40px);}
}

@media all and (min-width: 1001px) {
    .grid-item:first-child {
        width: calc(50% - 40px);
        border: 10px solid transparent;
        border-image: linear-gradient(#732C7B, #421C52) 30;
    }
    .grid-item {width: calc(25% - 40px);}    
}

/* animations */

h1 {
    animation: rl 1s infinite alternate ease-in-out;
    -webkit-animation: rl 1s infinite alternate ease-in-out;
    -moz-animation: rl 1s infinite alternate ease-in-out;
    -ms-animation: rl 1s infinite alternate ease-in-out;
    -o-animation: rl 1s infinite alternate ease-in-out;
}

@-webkit-keyframes rl {
    from {margin-left: 5%;}   
    to {margin-left: -5%;}
}

@-moz-keyframes rl {
    from {margin-left: 5%;}    
    to {margin-left: -5%;}
}

@-ms-keyframes rl {
    from {margin-left: 5%;}    
    to {margin-left: -5%;}
}

@-o-keyframes rl {
    from {margin-left: 5%;}
    to {margin-left: -5%;}
}

@keyframes rl {
    from {margin-left: 5%;}   
    to {margin-left: -5%;}
}

section {
    animation: frombottom 3s;
    -webkit-animation: frombottom 3s;
    -moz-animation: frombottom 3s;
    -ms-animation: frombottom 3s;
    -o-animation: frombottom 3s;
}

@-webkit-keyframes frombottom {
    from {margin-top: 200%;}
    to {margin-top: 0%;}
}

@-moz-keyframes frombottom {
    from {margin-top: 200%;}
    to {margin-top: 0%;}
}

@-ms-keyframes frombottom {
    from {margin-top: 200%;}
    to {margin-top: 0%;}
}

@-o-keyframes frombottom {
    from {margin-top: 200%}
    to {margin-top: 0%;}
}

@keyframes frombottom {
    from {margin-top: 200%;}
    to {margin-top: 0%;}
}
