html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #757575;
    line-height: 1.6;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 50px 0 0 0;
}

.slogan {
    color: #424242;
    margin: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.google {
    letter-spacing: -2.5px;
}

/* For smallest screens */
.header, .main, .footer {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 36px;
    padding: 20px 16px 0 16px;
    overflow: hidden;
}

.header h1 {
    display: inline;
    color: rgb(95, 99, 104);
    font-weight: 400;
    font-size: 23px;
}

.header h1 span {
    font-weight: 500;
}

.navigation {
    background-image: url(./images/menu-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 15px;
    width: 23px;
    height: 18px;
}

.search-icon {
    width: 20px;
    height: 20px;
    float: right;
}

.slogan {
    font-size: 1.625rem;
    line-height: 1.3;
    font-weight: 100;
    padding: 0 16px;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 16px 50px 16px;
}

.list1 {
    font-size: 1.125rem;
    line-height: 1.4;
}

.list1 .list-item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 127px;
    flex-grow: 1;
    flex-shrink: 1;
    color: #424242;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
    transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.list1 .list-item:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.11);
}

.list1 .list-item:first-of-type, 
.list1 .list-item:last-of-type {
    height: 290px;
    padding: 25px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.list1 .list-item:first-of-type {
    background-image: url(./images/1515_Thumbnail_Personal-Primetime-Video_1.width-1000.jpg);
}

.list1 .list-item:last-of-type {
    background-image: url(./images/[www.thinkwithgoogle.com][929]1480thumbnailBen-Jones.jpg);
}

.content-img {
    width: 33.3333%;
    min-width: 85px;
    height: 107px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
    align-self: flex-start;
}

.list1 .content-text {
    margin: 10px;
    width: 66%;
}

.list1 .list-item:nth-of-type(2) .content-img {
    background-image: url(./images/[www.thinkwithgoogle.com][758]1493thumbnailOmnichannel-Grocery.jpg);
}

.list1 .list-item:nth-of-type(3) .content-img {
    background-image: url(./images/Thumbnail_Gaming.png);
}

.list1 .list-item:nth-of-type(4) .content-img {
    background-image: url(./images/[www.thinkwithgoogle.com][331]1481ThumbnailInternational-Womens-Day.jpg);
}

.list1 .list-item:nth-of-type(5) .content-img {
    background-image: url(./images/[www.thinkwithgoogle.com][922]1408thumbnailUnited-Case-Study.jpg);
}

.list1 span::after {
    display: block;
    font-size: 14px;
    margin: 10px 0;
    color: #757575;
}

.list1 span.first::after {
    content: 'Video - March 2019';
    color: #fff;
}

.list1 .list-item:nth-of-type(2) .content-text::after {
    content: 'Article - March 2019';
}

.list1 .list-item:nth-of-type(3) .content-text::after {
    content: 'Infographic - April 2019';
}

.list1 .list-item:nth-of-type(4) .content-text::after {
    content: 'Perspective - March 2019';
}

.list1 .list-item:nth-of-type(5) .content-text::after {
    content: 'Case Study - April 2019';
}

.list1 span.last::after {
    content: 'Video - March 2019';
    color: #fff;
}

/* list-like section styling */
.list-like {
    background-color: #fafafa;
    padding: 50px 16px;
    color: #424242;
    line-height: 1.3;
}

.list-like h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: 400;
}

.list-like h3 {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 19px;
    font-weight: 400;
}

.list-like h3::after {
    content: '';
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.list-like .resize:nth-of-type(1) h3::after {
    background-image: url(./images/[www.thinkwithgoogle.com][995]iconresources-01.svg);
}

.list-like .resize:nth-of-type(2) h3::after {
    background-image: url(./images/[www.thinkwithgoogle.com][348]iconmarketingstrategies-01.svg);
}

.list-like .resize:nth-of-type(3) h3::after {
    background-image: url(./images/[www.thinkwithgoogle.com][848]iconconsumerinsights-01.svg);
}

.content-list {
    margin-top: 0;
    padding: 0;
    margin-bottom: 20px;
    color: #757575;
    line-height: 1.6;
}

p.content-list {
    color: #424242;
    margin-bottom: 16px;
    font-size: 16px;
}

.content-list li {
    margin-bottom: 10px;
    color: #3367d6;
    font-size: 16px;
    cursor: pointer;
}

/* list2 styling */
.section.three {
    background-color: #fafafa;
}

.section.three h2 {
    font-size: 23px;
    color: #424242;
    margin-bottom: 30px;
    line-height: 1.3;
    font-weight: 400;
}

.section.three .list {
    padding-top: 0;
}

.section.three h3 {
    font-size: 18px;
    line-height: 1.4;
    color: #424242;
    font-weight: 400;
}

.section.three p {
    font-size: 14px;
    color: #757575;
    margin-top: 4px;
    margin-bottom: 14px;
}

.section.three p.learn-more {
    color: #3367d6;
    font-weight: bold;
    cursor: pointer;
}

.list2 .li-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 127px;
    color: #424242;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.list2 .li-container:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.11);
}

.li-img {
    width: 33.3333%;
    min-width: 85px;
    height: 107px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.li-img.one {
    background-image: url(./images/[www.thinkwithgoogle.com][802]bedazzler-culture-trends.gif);
}

.li-img.two {
    background-image: url(./images/[www.thinkwithgoogle.com][152]bedazzler-competetive-analysis.gif);
}

.li-img.three {
    background-image: url(./images/[www.thinkwithgoogle.com][632]bedazzler-consumer-insights.gif);
}

.li-img.four {
    background-image: url(./images/[www.thinkwithgoogle.com][659]bedazzler-diagnostics.gif);
}

.li-container .list-item {
    width: 66%;
    margin: 10px;
}

.section.three {
    padding-bottom: 20px;
}

/* button styling*/
.button {
    background-color: #3367d6;
    color: white;
    padding: 12px 20px;
    border: 0;
    border-radius: 2px;
    font-weight: bold;
    display: block;
    cursor: pointer;
    line-height: 1.6;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.button-last {
    margin-left: auto;
    margin-right: auto;
}

/* footer styling */
.footer {
    background-color: #3367d6;
    color: #fff;
    padding: 30px 16px;
}

.subscribe {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;
}

.footer-button {
    background-color: #fff;
    color: #3367d6;
}

.footer li {
    color: #fff;
    display: inline-block;
    margin: 0 15px 0 0;
    font-size: 14px;
}

.footer h2::before {
    content: '';
    width: 100%;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    top: 0;
    display: block;
    margin-bottom: 30px;
}

.footer h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.lang-selector {
    color: #fff;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

.lang-selector::after {
    content: '˅';
    margin-left: 70px;
    font-size: inherit;
}

.footer-icon {
    display: inline-block;
    height: 25px;
    width: 30px;
    margin-right: 10px;
}

.hide {
    display: none;
}

/* for middle sized screens */
@media all and (min-width: 581px) and (max-width: 1000px) {
    .header {
        height: 36px;
        padding: 20px 32px 0 32px;
        overflow: hidden;
    }

    .slogan {
        font-size: 33px;
        line-height: 1.3;
        font-weight: 300;
        padding: 0 32px;
        width: 40%;
    }

    .list1 .first, .list1 .last {
        max-width: 60%;
    }

    .flex {
        padding: 0 32px 50px 32px;
    }

    .list1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: space-between;
    }

    .list1 .list-item:first-of-type {
        background-image: url(./images/1515_Thumbnail_Personal-Primetime-Video_1.width-1000.jpg);
        width: calc(100% - 64px);
    }

    .list1 .list-item:last-of-type {
        background-image: url(./images/[www.thinkwithgoogle.com][730]1480thumbnailBen-Jones.jpg);
        width: calc(100% - 64px);
    }

    .list1 .list-item {
        margin-bottom: 24px;
    }

    .list1 .resize {
        width: calc(50% - 76px);
        height: 330px;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }

    .list1 .resize:nth-of-type(2n-4) {
        margin-right: 24px;
    }

    .content-img {
        width: calc(100% - 50px);
        margin: 0;
        padding: 25px;
    }

    .list1 .content-text {
        width: calc(100% - 50px);
        margin: 0;
        padding: 25px;
        font-size: 18px;
    }

    .list1 span::after {
        margin: 20px 0;
    }

    .list1 .list-item:nth-of-type(2) .content-img {
        background-image: url(./images/[www.thinkwithgoogle.com][667]1493thumbnailOmnichannel-Grocery.jpg);
    }

    .list1 .list-item:nth-of-type(3) .content-img {
        background-image: url(./images/Thumbnail_Gaming.png);
    }

    .list1 .list-item:nth-of-type(4) .content-img {
        background-image: url(./images/[www.thinkwithgoogle.com][383]1481ThumbnailInternational-Womens-Day.jpg);
    }

    .list1 .list-item:nth-of-type(5) .content-img {
        background-image: url(./images/[www.thinkwithgoogle.com][25]1408thumbnailUnited-Case-Study.jpg);
    }

    /* list-like section styling */
    .list-like {
        padding: 50px 32px;
        line-height: 1.6;
    }

    .flex {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .list-like .resize {
        width: calc(50%);
    }

    .list-like .resize p {
        padding-right: 30px;
    }

    .list-like h2 {
        margin-bottom: 40px;
        font-size: 27px;
        font-weight: 300;
        width: calc(100% - 64px);
    }

    /* section three styling */
    .section.three h2 {
        font-size: 27px;
        margin-bottom: 40px;
        font-weight: 300;
    }

    .list2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .list2 .li-container {
        width: calc(50% - 64px);
        height: 382px;
        flex-direction: column;
        margin-bottom: 24px;
    }

    .list2 .li-container:nth-of-type(odd) {
        margin-right: 24px;
    }

    .li-img {
        width: 100%;
        height: 160px;
        margin: 0;
    }
     
    .li-container .list-item {
        width: calc(100% - 50px);
        margin: 25px;
    }

    .list2 .list-item {
        height: 172px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .inside-container {
        min-height: 135px;
        margin-bottom: 20px;
    }

    .li-img.one {
        background-image: url(./images/[www.thinkwithgoogle.com][802]bedazzler-culture-trends.gif);
    }

    .li-img.two {
        background-image: url(./images/[www.thinkwithgoogle.com][153]bedazzler-competetive-analysis.gif);
    }

    .li-img.three {
        background-image: url(./images/[www.thinkwithgoogle.com][632]bedazzler-consumer-insights.gif);
    }

    .li-img.four {
        background-image: url(./images/[www.thinkwithgoogle.com][970]bedazzler-diagnostics.gif);
    }

    /* footer styling */
    .footer {
        padding: 30px 32px;
    }

    .subscribe {
        margin-left: 57px;
        margin-bottom: 30px;
        font-size: 27px;
        width: 60%;
    }

    .footer-button {
        margin-left: 57px;
    }

    .icon-bar {
        float: right;
    }
}

/* for big sized screens */
@media all and (min-width: 1001px) and (max-width: 1170px) {
    .hide {
        display: inherit;
    }
    
    .header {
        background-color: #fff;
        height: 36px;
        padding: 20px 32px 0 32px;
        overflow: hidden;
    }

    .header .lang-selector {
        color: #757575;
        margin: 0px 25px;
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
    }

    .slogan-container {
        background-color: #fff;
        padding-left: 110.6px;
        padding-top: 9px;
        height: 330px;
        background-image: url(./images/[www.thinkwithgoogle.com][929]tms-hero31.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .slogan {
        font-size: 39px;
        margin-top: 0;
        width: 30%;
        padding-left: 0;
        line-height: 1.3;
        font-weight: 300;
    }

    .slogan-container p {
        font-size: 18px;
        color: #424242;
        display: inline-block;
        margin-top: 0;
    }

    .slogan-container span {
        float: right;
        width: 25%;
        color: #3367d6;
        font-size: 14px;
        font-weight: 500;
        margin-right: 30px;
        cursor: pointer;
    }

    .slogan-container span::after {
        content: '';
        background-image: url(./images/arrow-icon.png);
        display: inline-block;
        width: 16px;
        height: 16px;
        background-position: center;
        background-size: cover;
        margin-left: 5px;
    }

    .wide-screen-title {
        font-size: 31px;
        color: #424242;
        margin-top: 60px;
    }

    .list1 .first, .list1 .last {
        max-width: 60%;
    }

    .flex {
        padding: 0 32px 50px 32px;
    }

    .list1 {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: space-between;
    }

    .list1 .list-item:first-of-type {
        background-image: url(./images/1515_Thumbnail_Personal-Primetime-Video_1.width-1000.jpg);
    }

    .list1 .list-item:last-of-type {
        background-image: url(./images/[www.thinkwithgoogle.com][730]1480thumbnailBen-Jones.jpg);
    }

    .list1 .list-item:first-of-type,
    .list1 .list-item:last-of-type {
        width: calc(50% - 88px);
        height: 292px;
        font-size: 18px;
    }

    .list1 .list-item {
        margin-bottom: 24px;
    }

    .list1 .resize {
        width: calc(25% - 44px);
        height: 342px;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }

    .list1 .list-item:nth-of-type(-n+2) {
        margin-right: 24px;
    }

    .list1 .list-item:nth-of-type(4), 
    .list1 .list-item:nth-of-type(5) {
        margin-right: 24px;
    }

    .content-img {
        width: calc(100% - 50px);
        margin: 0;
        padding: 25px;
    }

    .list1 .content-text {
        width: calc(100% - 50px);
        margin: 0;
        padding: 25px;
        font-size: 18px;
    }

    .list1 span::after {
        margin: 20px 0;
    }

    .list1 .list-item:nth-of-type(2) .content-img {
        background-image: url(./images/[www.thinkwithgoogle.com][667]1493thumbnailOmnichannel-Grocery.jpg);
    }

    .list1 .list-item:nth-of-type(3) .content-img {
        background-image: url(./images/Thumbnail_Gaming.png);
    }

    .list1 .list-item:nth-of-type(4) .content-img {
        background-image: url(./images/[www.thinkwithgoogle.com][383]1481ThumbnailInternational-Womens-Day.jpg);
    }

    .list1 .list-item:nth-of-type(5) .content-img {
        background-image: url(./images/[www.thinkwithgoogle.com][25]1408thumbnailUnited-Case-Study.jpg);
    }

    /* list-like section */
    .list-like {
        padding: 50px 32px;
        line-height: 1.6;
    }

    .flex {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .list-like h2 {
        font-size: 31px;
        margin-bottom: 40px;
        font-weight: 300;
        width: calc(100% - 64px);
    }

    .list-like .resize {
        width: 33.3333%;
        font-size: 20px;
    }

    .list-like .resize p {
        padding-right: 30px;
    }

    /*section three styling*/
    .section.three {
        justify-content: space-between;
        padding-bottom: 39px;
    }

    .section.three h2 {
        font-size: 31px;
        margin-bottom: 40px;
        font-weight: 300;
    }

    .list2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section.three .li-container {
        width: calc(25% - 136px);
        height: 411px;
        margin: 0;
        flex-direction: column;
    }

    .section.three .li-container:nth-of-type(-n+3) {
        margin-right: 24px;
    }

    .li-img {
        width: 100%;
        min-height: 160px;
        margin: 0;
    }

    .li-container .list-item {
        width: calc(100% - 50px);
        margin: 25px;
    }

    .list2 .list-item {
        height: 298px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .inside-container {
        min-height: 160px;
        margin-bottom: 20px;
    }

    .li-img.one {
        background-image: url(./images/[www.thinkwithgoogle.com][802]bedazzler-culture-trends.gif);
    }

    .li-img.two {
        background-image: url(./images/[www.thinkwithgoogle.com][153]bedazzler-competetive-analysis.gif);
    }

    .li-img.three {
        background-image: url(./images/[www.thinkwithgoogle.com][632]bedazzler-consumer-insights.gif);
    }

    .li-img.four {
        background-image: url(./images/[www.thinkwithgoogle.com][970]bedazzler-diagnostics.gif);
    }

    /* footer */
    .footer {
        padding: 30px 32px;
    }

    .subscribe {
        font-size: 31px;
        margin-left: 78.6px;
        padding-right: 78.6px;
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-button {
        margin-left: 78.6px;
        margin-bottom: 0;
    }

    .footer h2 {
        display: inline;
        margin-right: 20px;
    }
    
    .footer .content-list {
        display: inline-block;
    }

    .footer .lang-selector {
        min-width: 50%;
    }

    .icon-bar {
        float: right;
    }

    .header-menu.hide {
        display: none;
    }
}

@media all and (min-width: 1171px) {
    .hide {
        display: inherit;
    }

    .header {
        background-color: #fff;
        height: 36px;
        padding: 20px 32px 0 32px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }

    .header .lang-selector {
        color: #757575;
        margin: 0px 25px;
        font-size: 16px;
        font-weight: 400;
        margin-top: 6px;
    }

    .header-menu {
        display: inline-block;
        padding: 0;
        margin-left: auto;
        margin-right: 15px;
        margin-top: 6px;
        color: #424242;
    }

    .header-menu li {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
    }

    .search-icon {
        margin-top: 6px;
    }

    .navigation {
        display: none;
    }

    .slogan-container {
        height: 397px;
        background-color: #fff;
        padding-left: 110.6px;
        padding-top: 9px;
        background-image: url(./images/[www.thinkwithgoogle.com][929]tms-hero31.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .slogan {
        font-size: 39px;
        width: 30%;
        margin-top: 39px;
        padding-left: 0;
        line-height: 1.3;
        font-weight: 300;
    }

    .slogan-container p {
        font-size: 18px;
        color: #424242;
        display: inline-block;
        margin-top: 0;
    }

    .slogan-container span {
        float: right;
        width: 25%;
        color: #3367d6;
        font-size: 14px;
        font-weight: 500;
        margin-top: 50px;
        margin-right: 35px;
        cursor: pointer;
    }

    .slogan-container span::after {
        content: '';
        background-image: url(./images/arrow-icon.png);
        display: inline-block;
        width: 16px;
        height: 16px;
        background-position: center;
        background-size: cover;
        margin-left: 5px;
    }

    .wide-screen-title {
        font-size: 31px;
        color: #424242;
        margin-top: 60px;
    }

    .list1 .first, .list1 .last {
        max-width: 60%;
    }

    .flex {
        padding: 0 32px 50px 32px;
    }

    .list1 {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: space-between;
    }

    .list1 .list-item:first-of-type {
        background-image: url(./images/1515_Thumbnail_Personal-Primetime-Video_1.width-1000.jpg);
    }

    .list1 .list-item:last-of-type {
        background-image: url(./images/[www.thinkwithgoogle.com][730]1480thumbnailBen-Jones.jpg);
    }

    .list1 .list-item:first-of-type,
    .list1 .list-item:last-of-type {
        width: calc(50% - 88px);
        height: 292px;
        font-size: 18px;
    }

    .list1 .list-item {
        margin-bottom: 24px;
    }

    .list1 .resize {
        width: calc(25% - 44px);
        height: 342px;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }

    .list1 .list-item:nth-of-type(-n+2) {
        margin-right: 24px;
    }

    .list1 .list-item:nth-of-type(4), 
    .list1 .list-item:nth-of-type(5) {
        margin-right: 24px;
    }

    .content-img {
        width: calc(100% - 50px);
        margin: 0;
        padding: 25px;
    }

    .list1 .content-text {
        width: calc(100% - 50px);
        margin: 0;
        padding: 25px;
        font-size: 18px;
    }

    .list1 span::after {
        margin: 20px 0;
    }

    .list1 .list-item:nth-of-type(2) .content-img {
        background-image: url(./images/[www.thinkwithgoogle.com][667]1493thumbnailOmnichannel-Grocery.jpg);
    }

    .list1 .list-item:nth-of-type(3) .content-img {
        background-image: url(./images/Thumbnail_Gaming.png);
    }

    .list1 .list-item:nth-of-type(4) .content-img {
        background-image: url(./images/[www.thinkwithgoogle.com][383]1481ThumbnailInternational-Womens-Day.jpg);
    }

    .list1 .list-item:nth-of-type(5) .content-img {
        background-image: url(./images/[www.thinkwithgoogle.com][25]1408thumbnailUnited-Case-Study.jpg);
    }

    /* list-like section */
    .list-like {
        padding: 50px 32px;
        line-height: 1.6;
    }

    .flex {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .list-like h2 {
        font-size: 31px;
        margin-bottom: 40px;
        font-weight: 300;
        width: calc(100% - 64px);
    }

    .list-like .resize {
        width: 33.3333%;
        font-size: 20px;
    }

    .list-like .resize p {
        padding-right: 30px;
    }

    /*section three styling*/
    .section.three {
        justify-content: space-between;
        padding-bottom: 39px;
    }

    .section.three h2 {
        font-size: 31px;
        margin-bottom: 40px;
        font-weight: 300;
    }

    .list2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section.three .li-container {
        width: calc(25% - 136px);
        height: 411px;
        margin: 0;
        flex-direction: column;
    }

    .section.three .li-container:nth-of-type(-n+3) {
        margin-right: 24px;
    }

    .li-img {
        width: 100%;
        min-height: 160px;
        margin: 0;
    }

    .li-container .list-item {
        width: calc(100% - 50px);
        margin: 25px;
    }

    .list2 .list-item {
        height: 298px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .inside-container {
        min-height: 160px;
        margin-bottom: 15px;
    }

    .li-img.one {
        background-image: url(./images/[www.thinkwithgoogle.com][802]bedazzler-culture-trends.gif);
    }

    .li-img.two {
        background-image: url(./images/[www.thinkwithgoogle.com][153]bedazzler-competetive-analysis.gif);
    }

    .li-img.three {
        background-image: url(./images/[www.thinkwithgoogle.com][632]bedazzler-consumer-insights.gif);
    }

    .li-img.four {
        background-image: url(./images/[www.thinkwithgoogle.com][970]bedazzler-diagnostics.gif);
    }

    /* footer */
    .footer {
        padding: 30px 32px;
    }

    .subscribe {
        font-size: 31px;
        margin-left: 78.6px;
        padding-right: 78.6px;
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-button {
        margin-left: 78.6px;
    }

    .footer h2 {
        display: inline;
        margin-right: 20px;
    }
    
    .footer .content-list {
        display: inline-block;
    }

    .footer .lang-selector {
        min-width: 50%;
    }

    .icon-bar {
        float: right;
    }
}
